div.pagewidth {
    max-width: 680px;
    margin: auto;
    align-items: center;
}


nav {
    background-color: white;
    height: 100 px;
}

nav ul li {
    list-style-type: none;
    width: 65px;
    float: right;
   }

li {
    color: #777777;
}

.copyright {
    color: #ffffff;
}

.floating-box {
    float: left;
    width: 150px;
    height: 30px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    padding: 12px 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

img {
    float: left;
    size: 150px;
    padding: 5px;
    
  }

  p {
      color: #777777;
  }

  .textcolor {
      color: #777777
  }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:gray;
    border-top: 8px solid #4aaaa5;
    color:black;
    text-align: center;
    }